.footer {
    width: 100%;
    background-color:var(--pinkColor);
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

.footer p {
    padding-top: 0.5rem;
	font-size: 1rem;
    color: var(--fucsiaColor);
}
