.footer {
    width: 100%;
    background-color:var(--pinkColor);
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center
}

.footer p {
	font-size: 1rem;
    color: var(--white);
}
